.input{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    background-color: black;
    font-weight: bold;
    border: 2.5px solid yellow;
}
.button{
    height: 30px;
    width: 100px;
    border-radius: 100px;
    background-color: red;
    
}
.button:hover{
    cursor: pointer;
}
.button1{
    height: 30px;
    width: 200px;
    border-radius: 100px;
    background-color: rgb(232, 78, 12);
    
}
.button1:hover{
    cursor: pointer;
}